button {
    padding: 7px 20px;
    background: var(--main-color);
    color: white;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all .4s;
    font-weight: bold;
    max-width: 400px;
}

button:hover {
    background-color: #2a652a;
}